.coding {

  .box-hover {
    background: #f8f8f8;
  }

  .box {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem 1rem;
  }

  .image {
    width: 3rem;
    height: 3rem;
    min-width: 3rem;
    min-height: 3rem;
    border-radius: 5px;
  }

  .text {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    height: 4rem;
    // padding: 0 1rem;

    .title {
      font-weight: 500;
      margin-bottom: 0.4rem;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 1.3;
      width: 80%;
      white-space: nowrap;
    }

    .description {
      font-size: 0.7rem;
      text-overflow: ellipsis;
      overflow: hidden;
      line-height: 1.3;
    }

    .type {
      font-size: 0.6rem;
      color: #999;
    }
  }

}
